/vendor/*
/tmp/*
/logs/*
!/vendor/composer/
!/vendor/bin/
!/vendor/d11wtq/
!/vendor/robmorgan/
!/vendor/aura/
!/vendor/autoload.php
!/vendor/cakephp/
!/vendor/cakephp-plugins.php
!/vendor/mobiledetect/
!/vendor/ircmaxell/
!/vendor/empty
!/vendor/symfony/
!/vendor/psr/
!/vendor/nesbot/
!/tmp/debug_kit.sqlite
!/logs/debug.log
!/tmp/cache/
!/tmp/tests/
!/logs/empty
!/tmp/sessions/
!/logs/error.log